body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
}

/* Sidebar */

#sidebar {
	position: absolute;
	top: 0;
	height: 100%;
	width: 20%;
	border-right: 1px solid #444;
	background-color: #eee;
}

a.item {
	display: block;
	margin: 8px;
	padding: 2px 5px;
	-moz-border-radius: 5px;
	color: #12e;
}

a.item:hover {
	background-color: #333;
	color: white;
	text-decoration: none;
}

/* Workspace */

#workspace {
	position: absolute;
	top: 0;
	height: 100%;
	left: 20%;
	right: 0;
}

#workspaceBody {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

div.field {
	margin: 8px 12px;
}

span.field {
	display: inline-block;
	width: 120px;
	font-weight: bold;
}

.field input {
	border: 1px solid #eee;
	padding: 2px;
	font-size: 11pt;
}

.field input.active {
	border-color: #999;
}

#content {
	position: absolute;
	left: 1px;
	right: 0;
	border-top: 1px solid #999;
}

textarea {
	border: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 12px;
	font-size: 11pt;
}

#save {
	position: absolute;
	left: 1px;
	right: 0;
	bottom: 0;
	background-color: #eee;
	border-top: 1px solid #ccc;
	padding: 10px 0;
}

button {
	font-size: 12pt;
	border: 1px solid #ccc;
	background-color: white;
	-moz-border-radius: 6px;
	padding: 2px 6px;
	margin-left: 10px;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	border-color: #333;
}

/** Miscellaneous */

#loading {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 56px;
	height: 21px;
	display: none;
}